#report-button {
  float: right;
}

#second-card {
  position: absolute;
  top: 10%;
  text-align: center;
  margin-top: 5%;
}
agm-map {
  height: 300px;
}

ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}
ngb-carousel .wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.carousel-inner .sr-only {
  display: none;
}
