#burgundy {
  color: rgb(153, 40, 59);
}

#orange,
select,
.btn {
  color: orange;
}

.fa-search {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 3px;
  padding-right: 20px;
}

.search-nav-item {
  height: 40px;
}

nav {
  padding: 0px 100px;
}
