<mat-toolbar color="primary">
  <img id="logoVinci" src="../assets/LogoVinciMarket.svg" alt="" />
  <a class="title" [routerLink]="['/']">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <button mat-raised-button *ngIf="loggedIn" [routerLink]="['categories']">
    Categories
  </button>

  <button mat-raised-button *ngIf="loggedIn" [routerLink]="['offers']">
    Offers
  </button>

  <button mat-raised-button *ngIf="isAdmin" [routerLink]="['admin/members']">
    Tout les membres
  </button>

  <button mat-raised-button *ngIf="isAdmin" [routerLink]="['admin/categories']">
    Categories Admin
  </button>

  <button mat-raised-button *ngIf="isAdmin" [routerLink]="['admin/signalements']">
    Signalements
  </button>




    <button mat-raised-button *ngIf="loggedIn" [routerLink]="['insertOffer']">
      Introduire une annonce
    </button>


  <button
    class="btn-login"
    mat-raised-button
    *ngIf="!loggedIn"
    (click)="login()"
  >
    Se connecter avec Azure
  </button>
  <button mat-raised-button *ngIf="loggedIn" color="warn" (click)="logout()">
    Se déconnecter
  </button>
</mat-toolbar>


<!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
<router-outlet *ngIf="!isIframe"></router-outlet>

<div class="container-fluid pb-0 mb-0 justify-content-center text-light">
  <footer>
    <div class="row my-5 justify-content-center py-5" id="footer">
      <div class="col-11">
        <div class="row">
          <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
            <h3 class="text-muted mb-md-0 mb-5 bold-text">VinciMarket</h3>
          </div>
          <div class="col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 bold-text">
              <b>Notre équipe</b>
            </h6>
            <ul class="list-unstyled">
              <li>BELABBES Ahmed</li>
              <li>DE TREMERIE Amaury</li>
              <li>MYLONAS Nicola</li>
              <li>OVERWEG Jef</li>
              <li>RASKIN Tanguy</li>
            </ul>
          </div>
          <div class="col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5">
              <b>ADRESSE</b>
            </h6>
            <p class="mb-1">Pl. de l'Alma 3, 1200 Woluwe-Saint-Lambert</p>
          </div>
        </div>
        <div class="row">
          <div
            class="
              col-xl-8 col-md-4 col-sm-4 col-auto
              my-md-0
              mt-5
              order-sm-1 order-3
              align-self-end
            "
          >
            <p class="social text-muted mb-0 pb-0 bold-text">
              <span class="mx-2">
                <a href="https://www.facebook.com" style="color: white">
                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>
              </span>
              <span class="mx-2">
                <a
                  href="https://www.linkedin.com/company/haute-ecole-l-onard-de-vinci/?originalSubdomain=be"
                  style="color: white"
                >
                  <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
              </span>
              <span class="mx-2">
                <a
                  href=" https://www.instagram.com/he_vinci/?hl=fr"
                  style="color: white"
                >
                  <i class="fab fa-instagram" aria-hidden="true"></i
                  ></a>
              </span>
              <span class="mx-2">
                <a
                  href="https://twitter.com/HE_Vinci?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                  style="color: white"
                >
                  <i class="fab fa-twitter" aria-hidden="true"></i
                  ></a>
              </span>
            </p>
            <small class="rights"
            ><span>&#174;</span> VinciMarket All Rights Reserved.</small
            >
          </div>
          <div
            class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end"
          >
            <h6 class="mt-55 mt-2 text-muted bold-text">
              <b>Contact Us</b>
            </h6>
            <small>
              <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
              VinciMarket@gmail.com</small
            >
          </div>
          <div
            class="
              col-xl-2 col-md-4 col-sm-4 col-auto
              order-2
              align-self-end
              mt-3
            "
          >
            <h6 class="text-muted bold-text"><b>Social</b></h6>
            <small
            ><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
              social@gmail.com</small
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

