<mat-toolbar color="primary">
  <img id="logoVinci" src="../assets/LogoVinciMarket.svg" alt="" />
  <a class="title" [routerLink]="['/']">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <button
    mat-raised-button
    *ngIf="loggedIn"
    [routerLink]="['weatherforecast-view']"
  >
    List
  </button>

  <button mat-raised-button *ngIf="loggedIn" [routerLink]="['categories']">
    Categories
  </button>

  <button mat-raised-button *ngIf="loggedIn" [routerLink]="['offers']">
    Offers
  </button>

  <button mat-raised-button *ngIf="isAdmin" [routerLink]="['admin/categories']">
    Administrator categories
  </button>

  <button
    class="btn-login"
    mat-raised-button
    *ngIf="!loggedIn"
    (click)="login()"
  >
    Se connecter avec Azure
  </button>
  <button mat-raised-button *ngIf="loggedIn" color="warn" (click)="logout()">
    Se déconnecter
  </button>
</mat-toolbar>

<!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
<router-outlet *ngIf="!isIframe"></router-outlet>
