@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
.card-section {
  margin: 10%;
  padding: 5%;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #ddd;
}

a.btn-light {
  background-color: #058aae;
  color: white;
}

li {
  font-size: larger;
  margin-top: 5px;
}

#eco {
  background-color: #82b00f;
  color: white;
}

.list-group-item {
  position: relative;
  font-size: 20px;
  text-align: center;
  color: #6c757d;
  font-family: "Roboto", sans-serif;
}

.list-checkmarks {
  padding-left: 1.5rem;
}
.list-checkmarks li {
  list-style-type: none;
  padding-left: 1rem;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

body {
  background: linear-gradient(0deg, white, 50%, #058aae);
  font-family: "Rubik", sans-serif;
  background: #058aae;
  height: 100 !important;
}

.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #058aae;
  color: white !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: white !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
